# Caipirinha configuration file
caipirinha:
    debug: true
    environment: prod
    port: 3324
    servers:
        database_url: mysql+pymysql://user:secret@server:3306/caipirinha
        redis_url: redis://localhost:6379
        #redis_url: redis://beta.ctweb.inweb.org.br:6379
    services:
    config:
        SQLALCHEMY_POOL_SIZE: 0
        SQLALCHEMY_POOL_RECYCLE: 60

