# Caipirinha configuration file

caipirinha:
    debug: true
    servers:
        database_url: mysql+pymysql://user:password@server:port/database
        redis_url: redis://redis_server:6379
    services:
        limonero:
            url: http://server/limonero
            auth_token: "authorization_token"
